<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<%= link_to 'Edit', edit_company_group_path(@group.company_id, @group.id) %> |
<%= link_to 'Back', company_groups_path %>
